<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentInfoController</servlet-name>
        <servlet-class>controller.UpdateStudentInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTutorInfoController</servlet-name>
        <servlet-class>controller.UpdateTutorInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTutorInfoController</servlet-name>
        <servlet-class>controller.ViewTutorInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleController</servlet-name>
        <servlet-class>controller.ScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTutorController</servlet-name>
        <servlet-class>controller.SearchTutorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTutorCalendar</servlet-name>
        <servlet-class>controller.ViewTutorCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanController</servlet-name>
        <servlet-class>controller.BanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStuInfoFromScheduleController</servlet-name>
        <servlet-class>controller.ViewStuInfoFromScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectScheduleController</servlet-name>
        <servlet-class>controller.RejectScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptScheduleController</servlet-name>
        <servlet-class>controller.AcceptScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitFeedbackController</servlet-name>
        <servlet-class>controller.submitFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitComplaintController</servlet-name>
        <servlet-class>controller.SubmitComplaintController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClassServlet</servlet-name>
        <servlet-class>controller.InsertClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSlotServlet</servlet-name>
        <servlet-class>controller.InsertSlotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportController</servlet-name>
        <servlet-class>controller.ViewReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmReportController</servlet-name>
        <servlet-class>controller.ConfirmReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertInfoStudentController</servlet-name>
        <servlet-class>controller.InsertInfoStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStudentInfoController</servlet-name>
        <url-pattern>/UpdateStudentInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTutorInfoController</servlet-name>
        <url-pattern>/UpdateTutorInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTutorInfoController</servlet-name>
        <url-pattern>/ViewTutorInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTutorController</servlet-name>
        <url-pattern>/SearchTutorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTutorCalendar</servlet-name>
        <url-pattern>/ViewTutorCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanController</servlet-name>
        <url-pattern>/BanController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStuInfoFromScheduleController</servlet-name>
        <url-pattern>/ViewStuInfoFromScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectScheduleController</servlet-name>
        <url-pattern>/RejectScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptScheduleController</servlet-name>
        <url-pattern>/AcceptScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitFeedbackController</servlet-name>
        <url-pattern>/submitFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitComplaintController</servlet-name>
        <url-pattern>/SubmitComplaintController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClassServlet</servlet-name>
        <url-pattern>/InsertClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSlotServlet</servlet-name>
        <url-pattern>/InsertSlotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportController</servlet-name>
        <url-pattern>/ViewReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmReportController</servlet-name>
        <url-pattern>/ConfirmReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertInfoStudentController</servlet-name>
        <url-pattern>/InsertInfoStudentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
